<%= link_to 'ProductZone Main Page', '/productzone/' %>

<p><%= link_to "login", '/user/user_index' %></p>

<p>Product Name: <%= @productzones.name %></p>
<p>Product Description: <%= @productzones.description %></p>
<p>Pridce: <%= @productzones.price %></p>
<img src="<%= @productzones.url %>">